<footer>
  <div class="container-fluid">
    <div class="row contain">
      <div class="col-lg col-sm">
        <p>Copyright &copy; 2024 Stephanie Thompson</p>
      </div>
    </div>
  </div>
</footer>