<section id="intro">
  <div class="container-fluid">

    <!-- Navigation -->
      <div class="row nav-pad contain">
        <div class="col-lg col-sm logo">
          <a href="./"><img src="./images/steph-logo.svg" alt="Logo for Stephanie Thompson"/></a>
          <div class="social-block text-center">
            <a href="https://github.com/Rocklobster84" target="_blank" rel="noreferrer noopener">
              <i class="fab fa-github fa-4x social"></i>
            </a>
            &nbsp;&nbsp;&nbsp;
            <a href="https://www.linkedin.com/in/stephthomp/" target="_blank" rel="noreferrer noopener">
              <i class="fab fa-linkedin fa-4x social"></i>
            </a>
            &nbsp;&nbsp;&nbsp;

            &nbsp;&nbsp;&nbsp;
            <a href="https://www.behance.net/stephrthompson" target="_blank" rel="noreferrer noopener">
              <i class="fab fa-behance fa-4x social"></i>
            </a>
          </div>
        </div>
        <div class="col-sm col-lg">
          </div>
        <div class="col-sm col-lg" id="steph-nav" data-spy="scroll" data-target="#steph-nav" data-offset="0">
          <ul class="nav justify-content-end">
            <li class="nav-item">
              <a class="nav-link active" href="./#about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./#portfolio">Portfolio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./photography">Photography</a>
            </li>
            <!--
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
            -->
        </div>
      </div>
  </div>
</section>