<!DOCTYPE html>
<html lang="en">
  <!-- HEAD INCLUDES -->
  <%- include ('./partials/head'); %>
<body>
  <!-- NAVIGATION -->
  <%- include ('./partials/navigation'); %>

  <!-- STATIC TEXT -->
  <section id="photography-intro">
    <div class="container-fluid">
  
      <div class="row contain">
        <div class="col-lg-2 col-md-2"></div>
        <div class="col-lg-8 col-md-8 col-sm-12">
          <div class="col-lg-2 col-md-2"></div>
          <div class="do-content text-center">
            <h2 class="portfolio-heading">Sometimes I take photos.</h2>
            <p class="photo-text">Photography has been a life-long hobby of mine. I even remember the first time my mom trusted me with her Polaroid OneStep. I was 5 years old and managed to prove that I was capable on keeping my subject in frame. From that day forward I became the friend that could be relied on to take pictures of every event.</p>
  
            <p class="photo-text">During my high school years I had the opportunity to take a photography class through the school. There I learned how to develop film and make my own prints, learned to use a camera that wasn't a point-and-shoot, and experimented with infrared film. My interest in photographing old cemeteries started here.</p>
  
            <p class="photo-text">My first DSLR was a Canon Rebel T3; I shot a wedding on that small but mighty thing. The next, a Nikon D3500. Nowadays you can find me toting around a Nikon D850 with all the fixings. I love exploring new places and looking for the art around me. Sometimes it's in nature, others right in my backyard. Currently, I a working on learning astrophotography so stay tuned for that.</p>
          </div>
        </div>
      </div>

    </div>
  </section>

  <!-- FOOTER -->
  <%- include ('./partials/footer'); %>

  <!-- JAVASCRIPT -->
  <%- include ('./partials/js-includes'); %>
</body>
</html>
